*{
    margin: 0;
    padding: 0;
}
body{
     overflow-x: hidden; 
}
header{
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
    background-color: whitesmoke;
}
.header1{ 
    padding: 10px;
    list-style-type: none;
}

.header1 li{
    margin-left: 20px;
    display: inline-block;
}
.header1Img{
    padding-right: 20px;
    padding-left: 100px;
}
.header1>li a{
    color: black;
    font-size: 11px;
    padding-bottom: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
.header1>li>a ion-icon{
    padding: 8px;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 14px;
    vertical-align: middle;
     background: linear-gradient(180deg,rgba(187, 184, 184, 0.355),whitesmoke);
}
.header1 img{
     width: 50px;
     vertical-align: middle;
}
.header2 img{
    width: 70px;
    margin-left: 150px;
    vertical-align: middle;
}
.header2 select{
    width: 16%;
    height: 45px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 30px;
    border: 2px solid #002f34;
}
.searchForm{
    padding: 5px;
    position: relative;
    display: inline-block;
    width: 44% !important;
}
.searchForm input{
    width: 97%;
    height: 22px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #002f34;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.searchForm input:focus{
    outline: #05e6ff !important;
}
.searchForm button{
    top: 5px;
    right: -5px;
    color: white;
    font-size: 26px;
    font-weight: 500;
    padding: 9px 10px;
    border-style: none;
    position: absolute;
    padding-bottom: 4px;
    display: inline-block;
    background-color: #002f34;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.loginBtn{
    margin-left: 25px;
    font-size: 16px;
    color: #002f34;
    font-weight: bold;
    padding-bottom: 1px;
    text-decoration: none;
    font-family: sans-serif;
    border-bottom: 2px solid #002f34;
}
.loginBtn:hover{
    border: none;
}
.sellBtn{
    width: 110px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: #002f34;;
    margin-left: 20px;
    font-weight: bolder;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-image: url(https://www.olx.com.pk/assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg);
}
.sellBtn ion-icon{
    font-weight: bold !important;
    font-size: 16px;
    vertical-align: middle;
}

/* navbar star  */
nav{
    padding: 12px;
    margin-top: 130px;
    box-shadow: 0px 4px 15px 0px rgb(248, 247, 247);
}
.allCategory{
    margin-left: 155px;
    display: inline-block;
    list-style-type: none;
}
.allCategory li {
    font-size: 14px;
    color: #002f34;
    font-weight: bold;
    display: inline-block;
    font-family: sans-serif;
}
.allCategory li ion-icon{
    font-size: 28px;
    vertical-align: middle ;
}
.shortNav{
    list-style-type: none;
    display: inline-block;
}
.shortNav li{
    margin-left: 10px;
    display: inline-block;
}
.shortNav li a{
    font-size: 14px;
    color: #002f34;
    text-decoration: none;
    font-family: sans-serif;
}
.shortNav li a:hover{
    color: #0994a4;
}

/* banner starting */
.banner{
    margin-top: 30px;
    text-align: center;
}
.banner img{
    width: 80%;
    height: auto;
    border-radius: 4px;
}

/* items section starting */
.recom{
    font-size: 24px;
    font-weight: 100;
    color: #002f34;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 160px;
    font-family: sans-serif;
}

.itemSection{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}
.card{
    width: 300px;
    height: 375px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    border: .1rem solid rgba(0,47,52,.2);
}
.card img{
    width: 300px;
    height: 170px;
}
.card h3{
    margin-top: 20px;
    color: #002f34;
    padding-left: 20px;
    position: relative;
    font-family: sans-serif;
}
.favourit{
    top: 0;
    right: 20px;
    position: absolute;
}
.info{
    color: #002f34;
    padding-left: 20px;
    font-family: sans-serif;
}
.extraInfo{
    font-size: 14px;
}
.card p{
    padding: 20px;
    color: #002f34;
    font-family: sans-serif;
}
.location{
    display: block;
    font-size: 14px;
    color: #002f34;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.date{
    font-size: 13px;
    color: #002f34;
    margin-left: 10px;
    font-family: sans-serif;
}
.featured{
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #002f34;
    font-weight: bold;
    padding: 4px 10px;
    position: absolute;
    border-radius: 5px ;
    font-family: sans-serif;
    background-color: rgb(255, 205, 4);
}

.loadMore{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.loadMore button{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    color: #002f34;
    font-weight: bold;
    border-style: groove;
    font-family: sans-serif;
    border: 2px solid #002f34;
    background-color: transparent;
}
.loadMore button:hover{
    border: 4px solid #002f34;
}
.footer{
    width: 100%;
    margin: 70px auto;
    margin-bottom: 0px !important;
    background-color: #f8faf9 !important;

}
.footImg{
    width: 30%;
}
.footer1{
    padding-left: 150px;
    position: relative;
    background-color: #f8faf9;
}
.footer1 h1 , p{
   display: inline-block;
}
.footer1 h1{
    top: 48px;
    left: 38%;
    color: #002f34;
    position: absolute;
    font-family: sans-serif;
}
.leftP{
    left: 38%;
    top: 100px;
    width: 23%;
    letter-spacing: 1px;
    font-size: 16px;
    color: #002f34;
    position: absolute;
    font-family: sans-serif;
}
.seprator{
    top: 50px;
    left: 63%;
    width: 2px;
    height: 120px;
    position: absolute;
    background-color: rgb(199, 194, 194);

}
.rightPannel{
    top: 73px;
    left: 65%;
    position: absolute;
}
.rightP{
    display: block;
    font-size: 14px;
    color: #002f34;
    font-weight: bold;
    margin-bottom: 15px ;
    font-family: sans-serif   ;
}
.apple, .playStore , .huawei{
   width: 130px;
   margin-left: 5px;
}

.footer2{
    width: 90.5%;
    color: #002f34;
    position: relative;
    padding-left: 150px;
    padding-bottom: 50px;
    font-family: sans-serif;
    background-color: whitesmoke;
    border-top: .1rem solid rgba(0,47,52,.2);
}
.footer span{
    display: block;
    font-size: 14px;
    color: #002f34;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.footer2 div, ul{
    list-style-type: none;
   display: inline-block;
}
.footer2 ul li{
    padding: 4px 0px;
}
.footer2  ul li a{
    font-size: 13px;
    text-decoration: none;
    font-family: sans-serif;
    color: #043136ae !important;
}
.footer2  ul li a:hover{
    color: #002f34 !important;
}
.footer2 div{
    margin-top: 20px;
    margin-left: 60px;
}
.foot2RightPannel{
    top: 5px;
    right: 120px;
    position: absolute;
}
.foot2RightPannel p{
    display: block;
    font-size: 14px;
    color: #002f34;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.foot2RightPannel a{
    padding: 4px;
    font-size: 17px;
    color: #043136ae !important;
}
.foot2RightPannel img{
    width: 80px;
    margin-top: 30px;
    margin-left: 10px;
}
.footer3{
    color:white;
    padding: 17px 0;
    margin-bottom: 0;
    text-align: right;
    font-family: sans-serif;
    background-color: #002f34;
}
.footer3 p{
    font-size: 12px;
    font-weight: bold;
    padding-right: 10%;
}